<div class="welcome">
  <mat-card>
    <h1>Quizzes</h1>
    <div class="quiz-container">
      <div *ngFor="let q of quizList">
        <a
          class="quiz-card"
          mat-raised-button
          color="primary"
          routerLink="/{{ q.name }}"
        >
          <mat-card-title class="quiz-content">{{ q.label }}</mat-card-title>
          <mat-card-subtitle class="quiz-content">{{
            q.description
          }}</mat-card-subtitle>
        </a>
      </div>
    </div>
  </mat-card>
</div>
